h1 {
    text-align: center
}

.App {
   padding-top: 20px;
   
}


.striked {
    text-decoration: line-through;
}

.content {
    font-size: 130%;
}



.title {
    font-size: 40px;
    color: rgb(29, 25, 25);
    font-family: cursive;

}

